<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-text text-center">
          Welcome to Bank Management Portal
        </span>
      </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Interest Rates</h5>
              <p class="card-text">Check out to see the various lists of Interests we Offer</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Loan</h5>
              <p class="card-text">Apply for Loans here!!We provide the best service</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Savings Account</h5>
              <p class="card-text">Open a savings bank account with us!!Check out various loan sections here</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Senior Citizen Accounts</h5>
              <p class="card-text">Retired?No worries!!We got you covered,we have a variety of accounts and your money is safe with us!!</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gold Loan</h5>
              <p class="card-text">We offer loans against gold.Check out this section to see various loans available</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Video KYC</h5>
              <p class="card-text">Verify your documents with us!!Register to book a free call or click to know more!!</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
         <div class="place">
            <button class="btn btn-outline-success me-2 data-bs-toggle" type="button" routerLink="/list">Applied Loans</button>
            <button class="btn btn-outline-success me-2 data-bs-toggle" type="button">Contact us</button>
         </div>
       
      </div>
</div>
