<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-text text-center">
          Welcome to Employee Issue Tracker
        </span>
        <ul class="nav-item">
          <button (click)="logout()">Logout</button>
        </ul>
      </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee Time Tracker</h5>
              <p class="card-text">Find out the Time for Each Issue</p>
              <a  class="btn btn-primary" routerLink="/time">Track Time</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee Leave Tracker</h5>
              <p class="card-text">Weekly Off Days For Team</p>
              <a  class="btn btn-primary" >Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee Issue Tracker</h5>
              <p class="card-text">Upcoming Issue Tracker and more issues recently registered</p>
              <a  class="btn btn-primary" routerLink="/issue">Track Issue</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Administrator Recruit</h5>
              <p class="card-text">Contact for being a part of Administrator team</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Feedback Forms</h5>
              <p class="card-text">Submit a feedback for any problem you are facing</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Remove Team</h5>
              <p class="card-text">Fill Your details for getting removed from the team</p>
              <a  class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
         <div class="place">
            <button class="btn btn-outline-success me-2 data-bs-toggle" type="button" routerLink="/list">Tracker Page</button>
            <button class="btn btn-outline-success me-2 data-bs-toggle" type="button" routerLink="/adminlogin">Login As Administrator</button>
         </div>
       
      </div>
</div>
