
<nav class="navbar navbar-light bg-primary">

<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">WELCOME TO BANK MANAGEMENT PORTAL</span>
    </div>
  </nav>
  </nav>



<div class="container">
    <div class="row">
        <div class="col-md-64">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please Enter email and password!!</h6>
                </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Customer ID</label>
                          <input  formControlName="customerid" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="text-danger" *ngIf="loginForm.controls['customerid'].dirty && loginForm.hasError('required','customerid')">*This field is Required</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*This Field is Required</span>
                        </div>
                        <br>
                        <button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary">Login</button>
                      </form>
                <a style="color: aliceblue; margin-top: 10px;" routerLink="/register">New User?Click here to Register!!</a>
            </div>
        </div>
    </div>
</div>
